
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


input[type="submit"] {
  background-color: #4285f4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}


input[type="submit"]:hover {
  background-color: #357ae8;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 24px;
  padding: 10px;
  width: 582px;
  height: 48px;
  margin: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.search-icon {
  color: #80868b;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
}
.microphone-icon, .photo-icon {
  color: #80868b;
  margin-left: 8px;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 10px;
}

.search-button {
  background-color: #4285f4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #357ae8;
}

.lucky-button {
  background-color: #fbbc05;
  color: #000;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.lucky-button:hover {
  background-color: #fabd05;
}

.fa {
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
}